body {
	background-color: black;
}
/* header section */
.title-bar {
	border: 1px solid rgb(131, 131, 131);
	width: 1598px;
	background: linear-gradient(gray, darkgray);
	height: 200px;
	margin: 0 auto;
}
.title {
	width: 1024px;
	margin: 0 auto;
	padding-top: 55px;
	text-align: center;
	color: green;
	font-size: 50px;
	font-family: Arial Black;
	text-shadow: 2px 2px 8px black;	
}
.title span {
	color: pink;
}
/* input stylings */
.input-area {
	width: 1024px;
	margin: 22px auto;
	text-align: center;
	font-size: 20px;
	color: white;
	font-family: arial;
	text-shadow: 0px 7px 20px black;
}
#input-box {
	font-size: 30px;
	background-color: darkgray;
}
/* button stylings */
button {
	text-shadow: 1px 0px 130px white;
	font-size: 20px;
	border-radius: 20px;
	box-shadow: 4px 4px 8px black;
	cursor: pointer;
}
#add-button,
.got-it {
	background-color: pink;
}
#reset-button,
.remove-item {
	background-color: green;
}
.got-it {
	float: left;
}
.remove-item {
	float: right;
}
/* main section */
.main {
	width: 1598px;
	height: 1057px;
	background-image: url(../images/lits.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	border: 1px solid rgb(131, 131, 131);
}
.list-items {
	width: 1024px;
	opacity: 0.9;
	margin: 10px auto;
	background-color: grey;
	font-family: arial;
	font-size: 30px;
	text-align: center;
	padding: 5px;
	border: 1px solid black;
}

.strike-through {
	text-decoration: line-through;
}
/* media queries */
@media	only screen and (max-width: 900px) {
	.title-bar {
		width: 800px;
		height: 100px;
	}
	.title {
		width: 800px;
		height: 100px;
		padding-top: 20px;
		font-size: 35px;
	}
	.input-area {
		width: 800px;
		font-size: 15px;
		margin: -59px auto;
	}
	#input-box {
		font-size: 15px;
	}
	button {
		font-size: 15px;
	}
	.main {
		width: 800px;
		height: 550px;
		background-size:;
	}
	.list-items {
		width: 700px;
		font-size: 15px;
		padding: 10px;
		margin: 5px auto;
	}	
	.got-it,
	.remove-item {
		margin: -4px;
	}

}






